@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --bg-primary: #f6f7f9;
  --bg-secondary: #ffffff;

  --text-primary: #000000;
  --text-secondary: #1e1e1e;
  --text-tertiary: #4b4b4b;

  --green-primary: #47b747;
  --green-secondary: #02bb7d;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #f6f7f9; */
}
